:root {
    --color-container: rgb(127, 134, 69);

}

.meu-body {
    background: linear-gradient(to right, #7fbdf0, #015c80);
    padding: 0;
    margin: 0;

}



/* Navbar e botao on off para tema escuro e claro */

.navBar {
    background-color: white;
    width: 100vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;


}

.navBar a {


    text-decoration: none;
    font-size: 1.2em;
}

.toggle {
    position: absolute;
    left: 80%;
}

.label-toggle {
    display: inline-block;
    z-index: 1;
    height: 30px;
    width: 70px;
    background-color: yellowgreen;
    border-radius: 50px;
    position: relative;

}

.toggle-check {
    display: none;
}

.label-toggle::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: aqua;
    border-radius: 50px;
    top: 5px;
    left: 5px;
    transition: 300ms;
}

.toggle-check:checked~.label-toggle {
    background-color: #5b0889;
}

.toggle-check:checked~.label-toggle::before {
    left: 45px;
}


/* Aba de login */


.corpo-login {
    display: flex;
    justify-content: end;
    align-items: center;

}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 94vh;
    background-color: rgb(97, 46, 46);
    box-shadow: 0 0 90px rgb(0, 0, 0);

}

.login input {
    border-radius: 50px;
    border: none;
    margin-bottom: 10px;
    width: 30%;
    height: 20px;
    text-align: center;
}

.tit-login {
    position: relative;
    top: -200px;
    font-size: 4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Texto de boas vindas */

.boasVindas{
    position: absolute;
    top: 170px;
    left: 150px;
    font-size: 2em;
    text-align: center;
}